[submodule "source/lz4"]
	path = source/lz4
	url = git@github.com:lz4/lz4.git
[submodule "source/zlib"]
	path = source/zlib
	url = git@github.com:madler/zlib.git
[submodule "source/openssl"]
	path = source/openssl
	url = git@github.com:openssl/openssl.git
[submodule "source/protobuf"]
	path = source/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
